<div class="container-fluid">
  <div class="row">
    {{>_admin_sidebar}}
    <section class="col-md-10">
      {{>_page_msg}}
      {{#if dashboardHandler}}
        {{>_admin_dashboard}}
      {{/if}}
    </section>
  </div>
</div>