<div class="">
  <div class="col-md-6 card mx-auto">
    <div class="card-body">
      <form class="form-horizontal" method="POST" action="/admin/login">
        <div class="form-group">
          <label class="control-label col-md-4" for="emailAddress">Email Address</label>
          <div class="col-md-11">
            <input type="email" name="emailAddress" id="emailAddress" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4" for="passsword">Password</label>
          <div class="col-md-11">
            <div class="input-group">
              <span class="input-group-addon ion-lock"></span>
              <input type="password" name="password" id="password" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-10">
            <input type="submit" name="submit" value="Login" class="btn btn-dark"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>