<div class="col-md-9 mx-auto mt-2">
      <div class="card">
        <h3 class="card-heading bg-dark text-light text-center">Manage Lecturers Account</h3>
        <div class="card-body text-center">
          <a href="#" class="btn btn-success">Activate accounts</a>
          <a href="#" class="btn btn-danger">Delete accounts</a>
        </div>
      </div>
    </div>
    <div class="col-md-9 mx-auto mt-2">
      <div class="card">
        <h3 class="card-heading bg-dark text-light text-center">Manage Results</h3>
        <div class="card-body text-center">
          <a href="/admin/computeresultdetails/" class="btn btn-primary">Compute</a>
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">View Composite Sheet</a>
        </div>
      </div>
    </div>
    <div class="col-md-9 mx-auto mt-2">
      <div class="card">
        <h3 class="card-heading bg-dark text-light text-center">Manage Feedbacks</h3>
        <div class="card-body text-center">
          <a href="#" class="btn btn-primary">Complaint</a>
        </div>
      </div>
    </div>