<div class="col-md-12 mx-auto mt-2">
      <div class="card">
        <h3 class="card-heading bg-dark text-light text-center">Manage Lecturers Account</h3>
        <div class="card-body">
          <div class="row">
            <a href="/admin/activateaccounts" class="col-md-3 x-btn"><span>Activate accounts</span></a>
            <a href="#" class="col-md-3 x-btn"><span>View accounts</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mx-auto mt-2">
      <div class="card">
        <h3 class="card-heading bg-dark text-light text-center">Manage Results</h3>
        <div class="card-body">
          <div class="row">
            <a href="/admin/computeresultdetails/" class="col-md-3 x-btn"><span>Compute Results</span></a>
            <a href="#" class="col-md-3 x-btn"><span>Edit Result</span></a>
            <a href="#" class="col-md-3 x-btn"><span>View Composite Sheet</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mx-auto mt-2">
      <div class="card">
        <h3 class="card-heading bg-dark text-light text-center">Manage Feedbacks</h3>
        <div class="card-body">
          <div class="row">
            <a href="#" class="col-md-3 x-btn"><span>Complaint</span></a>
          </div>
        </div>
      </div>
    </div>