<div class="full-screen">
	<div id="myslider" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myslider" data-slide-to="0" class="active"></li>
    <li data-target="#myslider" data-slide-to="1"></li>
    <li data-target="#myslider" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/resultmanagement.jpg" alt="result management">
    </div>
    <div class="carousel-item">
      <img src="/img/checkingresult.jpg" alt="online result checker">
    </div>
    <div class="carousel-item">
      <img src="/img/graduate.jpg" alt="graduates">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myslider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myslider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
</div>

<div class="hero-text">
	<h1>Welcome to computer science online result management system</h1>
	<p class="text-warning">Web app designed and developed by me</p>
</div>





{{!-- <link rel="stylesheet" type="text/css" href="/slider/engine1/style.css" />
<script type="text/javascript" src="/slider/engine1/jquery.js"></script>
<div id="wowslider-container1" class="full-screen">
	<div class="ws_images" style="width: 100% !important;"><ul>
		<li><img src="/slider/data1/images/checkingresult.jpg" alt="checking result online" title="checking result online" id="wows1_0"/></li>
		<li><img src="/slider/data1/images/graduate.jpg" alt="jquery image carousel" title="graduate" id="wows1_1"/></li>
		<li><img src="/slider/data1/images/resultmanagement.jpg" alt="automated student result management" title="automated student result management" id="wows1_2" style="width: 100%"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="checking result online"><span><img src="/slider/data1/tooltips/checkingresult.jpg" alt="checking result online"/>1</span></a>
		<a href="#" title="graduate"><span><img src="/slider/data1/tooltips/graduate.jpg" alt="graduate"/>2</span></a>
		<a href="#" title="automated student result management"><span><img src="/slider/data1/tooltips/resultmanagement.jpg" alt="automated student result management"/>3</span></a>
	</div></div>
	</div>	
	<script type="text/javascript" src="/slider/engine1/wowslider.js"></script>
	<script type="text/javascript" src="/slider/engine1/script.js"></script> --}}