<link rel="stylesheet" type="text/css" href="/slider/engine1/style.css" />
<script type="text/javascript" src="/slider/engine1/jquery.js"></script>
<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="/slider/data1/images/checkingresult.jpg" alt="checking result online" title="checking result online" id="wows1_0"/></li>
		<li><img src="/slider/data1/images/graduate.jpg" alt="jquery image carousel" title="graduate" id="wows1_1"/></li>
		<li><img src="/slider/data1/images/resultmanagement.jpg" alt="automated student result management" title="automated student result management" id="wows1_2"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="checking result online"><span><img src="/slider/data1/tooltips/checkingresult.jpg" alt="checking result online"/>1</span></a>
		<a href="#" title="graduate"><span><img src="/slider/data1/tooltips/graduate.jpg" alt="graduate"/>2</span></a>
		<a href="#" title="automated student result management"><span><img src="/slider/data1/tooltips/resultmanagement.jpg" alt="automated student result management"/>3</span></a>
	</div></div>
	</div>	
	<script type="text/javascript" src="/slider/engine1/wowslider.js"></script>
	<script type="text/javascript" src="/slider/engine1/script.js"></script>