{{#if upload_error}}
<div class="col-md-5 mx-auto text-center">
  <p class="alert alert-danger dialog">
    <span class="close" data-dismiss="alert">&times;</span>
    {{upload_error}}
  </p>
</div>
{{/if}}