<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/ion-icon/css/ionicons.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>{{pageTitle}}</title>
  <script src="/js/jquery-2.1.4.js"></script>
  <link rel="icon" type="x-image/icon" href="/img/logo.png" />
</head>
<body>
  {{>_nav}}
    {{>_success_msg}}
    {{>_error_msg}}
    {{{body}}}
  
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>