* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Lato, sans-serif;
  text-rendering: optimizeLegibility;
}

.nav--bg {
  background-color: #000000;
  color: #bf4d35 !important;
}
.nav--bg ul li a{
  font-weight: 600;
  color: #ad8041 !important;
}
.thumbnail {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(233, 227, 227, 0.37);
  border-radius: 50%;
}
.signup {
  margin: 0 auto;
  width: 45%;
}
.text-small {
  font-size: 60%;
}
.icon-small {
  font-size: 80%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.dialog {
  position: absolute;
  z-index: 3000;
  opacity: 0.97;
}

.logo {
  position: relative;
  width: 100px;
  height: 100px;

}
.logo img {
  position: absolute;
  width: 100px;
  height: 100px;
}

.x-btn{
  height: 100px;
  margin-left: 50px;
  background-color: rgba(165, 97, 9, 0.979);
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 2px;
}
.x-btn span {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 30%;
  bottom: 50%;
}
.x-btn:hover{
  text-decoration: none;
  color: #9e1414;
  background-color: rgba(165, 97, 9, 0.726);
  font-weight: 430;
}

.settings-box{
  position: absolute;
  left: -150px;
  border: 2px solid rgba(148, 99, 8, 0.603);
}

.settings-box li a{
  font-size: 80%;
}

.center-menu {
  margin-left: -80px;
  width: 100px;
  font-size: 70%;
  min-width: 145px;
  word-wrap: 40px
}
.box {
  max-height: 450px;
  overflow: hidden;
  overflow-y: scroll;
}
.center {
  width: 60%;
  margin: 0 auto;
}
aside {
  margin-top: -10px; 
  height: 90vh;
}

/*********************************************************************
 *** Table style
 */
 .table-no-border {
  width: 100% !important;
  margin-top: -20px;
}
.table-no-border th, .table-no-border td {
  border: none;
}

/*********************************************************************
 *** Passport style
 */
.passport {
  width: 30%;
  height: 200px;
  margin: 15px auto;
  padding-bottom: 0;
  border-radius: 50%;
}